.venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.ruff_cache
.mypy_cache
logs
downloads
output
data
benchmark
.git
*.log
.test-build
.cache_ggshield
config/vault/development.yaml
config/vault/staging.yaml
.env
.env.*
